{% extends "desk/base.html" %}
{% block content %}
<div class="se-form-page">
  {% block form_intro %}{% endblock %}
  <form method="post" class="se-form"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <div class="se-card se-card-pad">
      {% csrf_token %}
      <div class="se-form-fields">
      {% for field in form %}
      {% include "desk/includes/form_field.html" %}
      {% endfor %}
      </div>
      {% include "desk/includes/form_actions.html" with show_cancel=True %}
    </div>
  </form>
</div>
{% endblock %}
