<div class="se-field{% if field.field.widget.input_type == 'checkbox' %} se-field-checkbox{% endif %}">
  {% if field.field.widget.input_type == 'checkbox' %}
  <label class="se-checkbox" for="{{ field.id_for_label }}">
    {{ field }}
    <span>{{ field.label }}</span>
  </label>
  {{ field.errors }}
  {% else %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% if field.name == "image" and field.value and field.value.url %}
  <div class="se-image-preview">
    <img src="{{ field.value.url }}" alt="Current product image">
  </div>
  {% endif %}
  {{ field }}
  {% if field.help_text %}<p class="helptext">{{ field.help_text }}</p>{% endif %}
  {{ field.errors }}
  {% endif %}
</div>
